body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main_header{
    width: 100%;
    height: 5rem;
    background-color: blueviolet;
    border: 1px solid transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}

.center_main_header{
    width: 90%;
    height: 100%;
    background-color: transparent;
    border: 1px solid transparent;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img_1{
    width: 56px;
    height: 58px;
    cursor: pointer;
}

.left_main_header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    column-gap: 10px;
}

.left_main_header h1{
    cursor: pointer;
}

.hr, .h1{
    text-decoration: none;
    color: white;
} 

.right_main_header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: white;
    font-size: 22px;
    column-gap: 20px;
    text-decoration: none;
}

nav ul li{
    list-style-type: none;
    text-decoration: none;
}

.right_main_header nav ul li{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.fa-bars{
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
}

.right_main_header_for_480{
    display: none;
}

.main_page_image {
    width: 100%;
    height: 92.9vh; /* ეკრანის 80% */
    background-image: url("picture for main page.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative; /* overlay-ს დასაწყობად */
}



.main_page_text_in_backgorund{
    font-size: 30px;
}


/* CSS */
.button-85 {
  padding: 15px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 20px;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.main_page_text_in_backgorund{
    display: block;
}
.overlay_content {
    position: absolute;
    top: 50%;       /* ვერტიკალურად ცენტრი */
    left: 40%;      /* ჰორიზონტალურად ცენტრი */
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(239, 224, 224);
    width: 80%;        /* მასშტაბირებადია ყველა ეკრანზე */
    max-width: 900px;  /* მაქსიმალური სიგანე დიდ ეკრანებზე */
}

.overlay_content h1 {
    font-size: 3rem;   /* დიდი ეკრანისთვის */
    margin-bottom: 20px;
}

.overlay_content p {
    font-size: 2.5rem;
    line-height: 1.5;

}

.right_main_header_2{
    display: none;
}




.hero {
  width: 100%;
  height: 100vh;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* საშუალო ტელეფონები */
@media (max-width: 1236px) {
    .right_main_header{
        display: none;
    }
    .right_main_header_2{
        display: block;
    }
}
